*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
section{
    min-height: 100vh;
    height: fit-content;
}
body{
    background-color: goldenrod;
}
/* ----------------navbar----------------- */
header{
    position: fixed;
    background-color: black;
    width: 100%;
}
nav{
    font: 1.5em sans-serif;
    display: flex;
    justify-content: end;
}
nav ul {
    padding: 10px;
    list-style: none;
    display: flex;
}

nav ul a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

/* ------------------------homepage----------------------------- */

.home-col-1{
    color: black;
}